<config>
    <server>
        <username>406d9159db79e3</username>
        <password>5b6a03c9a55ec8</password>
        <ip>smtp.mailtrap.io</ip>
        <port>25</port>
    </server>
    <nbGroups>1</nbGroups>
    <victims>
        <victim>edin.mujkanovic@protonmail.com</victim>
        <victim>edin.mujkanovic@protonmail.com</victim>
        <victim>edin.mujkanovic@protonmail.com</victim>
    </victims>
    <messages>
        <message>
            <subject>Invitation</subject>
            <text>Maison blanche</text>
        </message>
        <message>
            <subject>Invitation</subject>
            <text>Kremelin</text>
        </message>
        <message>
            <subject>Invitation</subject>
            <text>Elysée</text>
        </message>
    </messages>
</config>